/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 9, ../sass/screen.scss */
.image img {
  max-width: 100%;
  height: auto;
}

/* line 10, ../sass/screen.scss */
.image {
  padding: 0.5% 0.5% 0 0.5%;
}

/* line 12, ../sass/screen.scss */
.sidebar-nav ul li a.active {
  background-color: #eee;
}

/* line 14, ../sass/screen.scss */
.item {
  margin: 2% 0 2% 0;
}

/* line 15, ../sass/screen.scss */
.item.female {
  background-color: #FFB6C1;
}

/* line 16, ../sass/screen.scss */
.item.male {
  background-color: #87CEEB;
}

/* line 17, ../sass/screen.scss */
.text {
  padding: 2%;
}

/* line 18, ../sass/screen.scss */
.tx-ht-gallery .thumbnail {
  border: none;
  background-color: transparent;
}
