<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>version 6.1.8</title>
	</head>
	<body>
		<div class="header">
			<f:cObject typoscriptObjectPath="lib.navigation.main" />
		</div>
		<div class="content">
			<f:cObject typoscriptObjectPath="lib.content.main" />
		</div><!--/span-->
	</body>
</html>