/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/
@import "compass/CSS3";

.image img { max-width: 100%; height:auto; }
.image { padding: 0.5% 0.5% 0 0.5%; }

.sidebar-nav ul li a.active { background-color: #eee; }

.item { margin: 2% 0 2% 0; }
.item.female { background-color: #FFB6C1; }
.item.male { background-color: #87CEEB; }
.text { padding: 2%; }
.tx-ht-gallery .thumbnail { border: none; background-color: transparent; }

